html {
    font: 100% Courier New;
    margin: 20px;
    line-height: 26px;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
  }

  table, th, td {
    border: 1px solid;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    color: #84c754;
  }
  
  td {
    text-align: center;
    color: #84c754;
  }

  body {
    /* background-image: url("image"); */
    background-color: black; 
    height: 500px; /* You must set a specified height */
    background-size: cover;
    background-position: top; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
  }
  h1{
    color: #84c754;
    padding: 2vh;
  }
  p{
    font-size: 1.5rem;
    color: #84c754;
  }
  .button {
    display: inline-block;
    background-color: #84c754;
    border: none;
    border-radius: 4px;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 20px;
    margin: 2px;
    cursor: pointer;
  }
  .button2 {
    background-color: #f44336;
  }

